ion-button[color="black"]{
    text-transform: initial;
  }
  
  ion-content{
    --background: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
    overflow: hidden;
  }
  
  @-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}};
  ion-card{
    -webkit-animation:slide-in-bottom 1.5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom 1.5s cubic-bezier(.25,.46,.45,.94) both;
  border-radius: 30px;
  height: 430px;
  width: 100%;
  position: absolute;
  margin: 0px;
  bottom: 40px;
  border: solid 1px #3880FF;
  box-shadow: rgba(0, 0, 255, 0.268) 10px 10px 10px 10px;
  }
  
  .BtnLogin{
    --background: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
    color: #3880ff;
  }
  
  .BtnCadastro{
    --background: #DCE35B;  /* fallback for old browsers */
    --background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    --background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  
  .Img{
    margin-top: 3px;
  }
  
  .ios ion-content{
    font: 12px;
  }
  