<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Férias</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button color="Light" menu="main-menu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="Overflow-content">
  <ion-card *ngFor="let Documento of documents">
    <ion-card-header>
      <ion-card-subtitle color="primary">{{Documento.Tipo_Ferias}}</ion-card-subtitle>
      <ion-card-title color="primary">{{Documento.Dias}}</ion-card-title>
    </ion-card-header>

    <ion-item class="item-card">
      <ion-icon name="wallet-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Recibo de Férias</ion-label>
      <ion-button color="warning" lot="end" (click)="preview(Documento.Recibo_de_Ferias)">View</ion-button>
    </ion-item>
    <ion-item class="item-card">
      <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Aviso de Férias</ion-label>
      <ion-button color="warning" lot="end" (click)="preview(Documento.Aviso_de_Ferias)">View</ion-button>
    </ion-item>
    <ion-card-content>
      Ferias: {{Documento.Inicio_perioro}} a {{Documento.Termino_periodo}}
    </ion-card-content>
  </ion-card>

  </div>
  </ion-content>
