<ion-content>
  <ion-header>
      <ion-toolbar>
          <ion-icon (click)="Back()" color="light" slot="start" name="arrow-undo-outline" class="back"></ion-icon>
          <ion-title>Anexo 4</ion-title>
      </ion-toolbar>
  </ion-header>
  <div id="Context">
  <div>
    <header class="Cabecalho">
        <div id="LogoImg">
            <img class="ImgInterative" src="assets/LOGO_CEPELMA.png" alt="logotipo cepelma" width="80px"heigth="80px">
        </div>
        <h1>Cepelma Industria Artefatos de Papel LTDA - EPP </h1>
        <h2>ANEXO 04 – DO REGULAMENTO INTERNO </h2>
        <h3><small>Atualizado 06/08/2020</small></h3>
    </header>
</div>
<hr>


<main>
  <ol type="1">
      <li>
          <h4>
              CP001 - Conceito
          </h4>
      </li>
      <ion-item text-wrap>
          Este documento visa viabilizar e facilitar a comunicação de qualquer incidente diferente da rotina diária habitual do empregado. Este documento deve ser entregue ao departamento pessoal ou superior imediato, comunicando fatos que precisam de correção ou fatos controversos a rotina habitual do empregado dentro das normas internas da empresa
      </ion-item>
      <ion-item text-wrap>
          Podemos citar como exemplos mais comuns
      </ion-item>
      <ul>
          <li>
              Solicitação ou execução de horas extras por motivo de força maior ou solicitação do superior imediato
          </li>
          <li>
              Solicitação de correção do ponto
          </li>
          <li>
              Comunicação de atrasos e faltas por motivo de força maior ou solicitação do superior imediato.
          </li>
          <li>
              Fatos descritos no anexo 1 do regulamento interno
          </li>
          <li>
              Dentre quaisquer outros que impeçam ou dificultem o funcionamento normal da rotina de trabalho do empregado e etc... 
          </li>
          
      </ul>
      <ion-item text-wrap>
          Sendo o preenchimento e avaliação pelo superior imediato, obrigatórios para ciência do departamento pessoal e registro histórico de fatos referentes ao empregado.
      </ion-item>
      <li>
          <h4>
              Aprovação do superior Imediato e encarregados
          </h4>
      </li>
      <ion-item text-wrap>
          Após Preenchimento do CP001 o mesmo será entregue a um superior para avaliação dos fatos e o mesmo preenchera o formulário indicando ao sistema administrativo, como proceder. Justificando assim o motivo de sua decisão/abono.
      </ion-item>
      <li>
          <h4>
              Da validade
          </h4>
      </li>
      <ion-item text-wrap>
          O CP001 deve ser preenchido e entregue no prazo de 2 dias uteis, estando este prazo em consonância com os demais anexos deste regulamento e sendo necessário para o perfeito funcionamento do sistema administrativo e seus prazos
      </ion-item>
      <ion-item text-wrap>
          <strong>
              O atraso na entrega do CP001 superior a 2 dias do fato descrito no mesmo invalidara o documento sendo, este fato, cabível as sanções ou punições do anexo 3 deste regulamento. 
          </strong>

      </ion-item>

  </ol>
</main>
<br>
</div>>
</ion-content>